<html>
    <head>
        <meta charset="utf-8" />
        <title>Example App</title>
        <link href="/styles/globals.css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}
        <script src="/client.js"></script>
    </body>
</html>